{% block main %}

	<div class="container-fluid" id="main">
     <div class="cursor"></div>
        <div class="cursor2"></div>

		<div class="row">
			<div id='column' class="">
				<section id="one" class= " offset-3 col-6">
					<article class="mx-auto text-center col-12 p">
						<h2 id="bio">À PROPOS</h2>
						<hr class="text-center">
						<p class="  test">Bonjour, je m'appelle<b class="">
								<i>Killian FONTAINE</i>
							</b>
							développeur web junior, je suis à la recherche d'un emploi. Autonome de nature, je peux travailler seul ou en équipe,
							                            étant également capable de m’adapter à un environnement que je ne connais pas. Cherchant toujours à améliorer et optimiser
							                            les projets au maximum pour satisfaire au mieux la demande du client.
						</p>
						<hr class="text-center text-light">
					</article>
				
				</section>
			
			</div>
		
			
		

		</div>
	</div>
{% endblock %}
