	<section class=" col-lg-3 col-md-3 bg-img  p-4 mx-auto  image text-center  ">

						<h2 id="comp" class=" ">COMPÉTENCES</h2>
						<hr class="text-center">
						<div class="language  col-12 p-5">
							<h3 class="mb-5">languages : </h3>
							
								<article class="  a">
									
										<p class="">html</p>
									
								</article>
								<article class=" b">
									
										<p class="">css</p>
									
								</article>
								<article class=" ">
									
										<p class="">bootstrap</p>
								</article>
						<article>
						<p>javascript</p>
						</article>
						</div>
						<div class="os  p-5 ">
							<h3 class="mb-5 ">Systèmes d'exploitation : </h3>
							
								<article class=" ">
									
										<p class="">windows</p>
									
								</article>
								<article class="  ">
									
										<p class="">linux</p>
									
								</article>
								<article class="">
									
										<p class="">mac</p>
									
								</article>
							</div>
						

						
					</section>