	<section class=" col-lg-3 col-md-3 bg-img   mx-auto  image text-center  ">

						<h2 id="comp" class=" ">COMPÉTENCES</h2>
						<hr class="text-center">
						<div class="language  col-12 p-5">
							<h3 class="">languages</h3>
							
								<article class="  a">
									<a href="https://developer.mozilla.org/fr/docs/Web/HTML" class="text-decoration-none" target="_blank"><img src="assets/image/logo-html.png" class=" img-html " alt="..." id="img-html">
										<p class="">HTML</p>
									</a>
								</article>
								<article class=" b">
									<a href="https://developer.mozilla.org/fr/docs/Web/CSS" class="text-decoration-none" target="_blank"><img src="assets/image/logo-css.png" alt="" class="  img-html">
										<p class="">CSS</p>
									</a>
								</article>
								<article class=" ">
									<a href="https://getbootstrap.com/docs/5.1/getting-started/introduction/" target="_blank" class="text-decoration-none"><img src="assets/image/logo-bootstrap.png" alt="" class="">
										<p class="">BOOTSTRAP</p>
									</a>
								</article>
						
						</div>
						<div class="os  p-5 ">
							<h3 class="m-3 col-12">Systèmes d'exploitation</h3>
							
								<article class=" ">
									<a href="https://www.microsoft.com/fr-fr/windows?r=1" class="text-decoration-none" target="_blank"><img src="assets/image/logo-windows.png" alt="">
										<p class="">WINDOWS</p>
									</a>
								</article>
								<article class="  ">
									<a href="https://www.linux.org/" class="text-decoration-none" target="_blank"><img src="assets/image/logo-linux.png" alt="">
										<p class="">LINUX</p>
									</a>
								</article>
								<article class="">
									<a href="https://www.apple.com/fr/mac/" class="text-decoration-none" target="_blank"><img src="assets/image/logo-mac.png" alt="">
										<p class="">MAC</p>
									</a>
								</article>
							</div>
						

						
					</section>