<section>
	<div id="contact" class="   mt-5   ">
		<form class="bg-img-3 mx-auto  p-5  col-lg-8 text-light " action="/home" method="post">
			<h2 class="text-center  text-success">CONTACT</h2>
			<hr class="text-center text-black">
			<div class="text-center mt-5">
				<label for="mail">Email:</label>
				<input type="mail" id="mail" class="form-control mt-3" name="mail">
			</div>
			<div class="text-center mt-5 ">
				<label for="message">Votre message:</label>
				<textarea class="form-control mt-3" rows="2" id="message" name="message"></textarea>
				<button>envoyer</button>
			</div>
		</form>
	</div>
</section>
