<div class="  col-lg-12 col-md-12 mt-5 text-center ">
	<section class="bg-img col-lg-8 mx-auto  ">

		<article class="hvr-icon-spin p-5  text-center">
			<h2 id="exp" class="">EXPÉRIENCES PROFESSIONNELLES</h2>
			<hr class="text-center">
			<ul class="mt-5 mb-5 p-0">
				<li class="mb-5">
					<p>
						<b>Technicien maintenance informatique</b>
					</p>
					<p>
						<i>
							<small>AIS informatique -2020- 1 mois</small>
						</i>
					</p>
					<p>
						<i>
							<small>Pom'N'Tech -2017- 2 mois</small>
						</i>
					</p>
				</li>
				<li class="mb-5">
					<p>
						<b>Technicien réseau
							                                        informatique Ecole centrale Marseille</b>
					</p>
					<p>
						<small>
							<i>Ecole centrale Marseille -2018- 1 mois</i>
						</small>
					</p>
				</li>
				<li class="mb-5">
					<p>
						<b>Technicien/acceuil client</b>
					</p>
					<p>
						<i>
							<small>Néomania -2018/2019- 2 mois</small>
						</i>
					</p>
				</li>
				<li class="mb-5">
					<b>
						<p>serveur en restauration</p>
					</b>
					<p>
						<small>
							<i>La Rade -2016/2017- 2 mois</i>
						</small>
					</p>
					<p>
						<small>
							<i>La Bauquière -2016- 1 mois</i>
						</small>
					</p>
					<p>
						<small>
							<i>Restaurant La Piscine -2015- 1 mois</i>
						</small>
					</p>
				</li>
			</ul>
		</article>
	</section>
    </div>
