<section class="bg-img-2 text-light mt-5 mx-auto col-lg-8 ">
	<div class=" p-4 ">
		<h2 id="formation" class="text-danger">FORMATION</h2>
		<hr class="text-center text-black">
		<article class=" pt-3">
			<ul class="p-0">
				<li>
					<p>
						<b>Bac Professionnel Systèmes Numériques</b>
					</p>
					<p>
						<b>BEP Systèmes Numériques</b>
					</p>
					<p>
						<small>
							<i>Lycée Ampère -2017 à 2020-</i>
						</small>
					</p>
					<p>
						<small>
							<i>Bac pro/BEP: installer des sytèmes d'exploitation, gérer la demande du
								                                                client, diagnostiquer une panne.</i>
						</small>
					</p>
				</li>
			</ul>
		</article>
		<article>
			<ul class="p-0">
				<li>
					<p>
						<b>CAP Restauration</b>
					</p>
					<p>
						<small>
							<i>Lycée Méditerranée -2015 à 2017-</i>
						</small>
					</p>
					<p>
						<small>
							<i>CAP: acceuil client, prendre des commandes, service à table, travailler
								                                                en equipe</i>
						</small>
					</p>
				</li>
			</ul>
		</article>
		<article>
			<p>
				<b>Dîplomes National du Brevet</b>
			</p>
			<p>
				<small>
					<i>Collèges Nathalie Sarraute -2014 à 2015-</i>
				</small>
			</p>

		</article>
	</div>
</section>
