<div class="modal" data-pokeid={{user._id}}>
						<div id="modal-container">
							

<form method='post' action="/login" class="col-4 mb-5 modify">

	
	<div class="mb-3">
		<input type="password" class="form-control" id="password" name="password" placeholder="PASSWORD">
	</div>

	<button type="submit" class="btn btn-secondary">Login</button>

</form>

								</a>
							</div>
						</div>
					</div>